.picCard{
    border: none;
     
     
     
     }
 .textCard{
     padding: 100px;
     padding-top: 100px;
     color: rgb(36, 34, 34);
     float: left;
     width: 50%;
     border: none;
     
 }
 .text{
     font-size: 20px;
     text-align: left;
 }