.contactMe{
    color:'#7734eb';
    margin-top: 50px;
    padding: 50px
}
.wid{
    width: 400px;
    /* margin: 50px; */
    margin-top: 0px;
    padding-left: 30px;
}
.contactForm{
    /* width: 30%; */
     align-items: center;
    justify-content: center;
    /* padding-top: 100px; */

    /* margin: auto; */
    border: solid;
    
}
.buton{
    background-color: blueviolet;
}