.App {
  text-align: center;
}





.bgColor{
  
  /* padding-left: 20px; */
  margin-right: 20px;
}
.margn{
  /* padding-top: 0; */
  padding-left: 100px;
  /* width: 100%; */
  /* border: solid; */
  margin: 0;
  
}