.aboutPicCard{
   border: none;
   padding-top: 50px;
   padding-left: 100px;
    width: 50%;
    float: left;
    
    
    }
.aboutTextCard{
    padding: 100px;
    padding-top: 100px;
    color: rgb(36, 34, 34);
    float: right;
    width: 50%;
    border: none;
    
}
.text{
    font-size: 20px;
    text-align: left;
}
a:link {
    
  
    text-decoration: none;
    
  }